@charset "UTF-8";

// 余白クラスの生成
@include spaceloop();

// 行揃え指定クラス
@include textalign();

// フォントサイズクラス作成
@include fontsize();

// lineheightのクラス
@include lineheight();

// クリアフィックス
.clearfix {
  @include clearfix;
}

// ポジションクラス
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.static {
  position: static !important;
}

// pタグ同士の間の余白用クラス
.mt1em {
  margin-top: 1em;
}
.mb1em {
  margin-bottom: 1em;
}

// 画像用幅設定クラス
.mw100 {
  max-width: 100%;
  height: auto;
}
.w100 {
  width: 100% !important;
}

// 画像のフェード用クラス
.fade {
  transition: opacity 0.3s;
  opacity: 1;
  &:hover {
    opacity: 0.7;
  }
}

// フロートクラス
.left-box{
  float: left !important;
}
.right-box{
  float: right !important;
}
.center-box{
  margin-left: auto !important;
  margin-right: auto !important;
}

// フォント太さクラス
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}

@if $responsive {
  @media (max-width: $screen-tb) {
    // 行揃え指定クラス
    @include textalign(-tb);

    // タブレット用余白クラスの生成
    @include spaceloop(-tb);

    // タブレット用フォントサイズクラスの生成
    @include fontsize(-tb);

    // タブレット用lineheightのクラス
    @include lineheight(-tb);
  }

  @media (max-width: $screen-sp) {
    // 行揃え指定クラス
    @include textalign(-sp);

    // スマホ用余白クラスの生成
    @include spaceloop(-sp);

    // スマホ用フォントサイズクラスの生成
    @include fontsize(-sp);

    // スマホ用lineheightのクラス
    @include lineheight(-sp);
  }

  // デバイスごとのディスプレイ指定クラス
  .pc {
    @media (max-width: $screen-tb) {
        display: none !important;
    }
  }
  .tb {
    @media (min-width: $screen-pc-min) {
      display: none !important;
    }
  }
  .sp {
    @media (min-width: $screen-tb-min) {
      display: none !important;
    }
  }
}
