*,
::before,
::after {
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

select {
  height: 30px;
  color: inherit;
  font: inherit;
  font-size:14px !important;
  margin: 0;
  padding: 0 20px 0 5px;
  line-height:1;
}

button,
input,
textarea {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input {
  padding: 0 6px;
}

input:focus,
textarea:focus {
  outline:none;
}

input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border:none;
}

button {  
  overflow: visible;
  background-color: transparent;
  border-radius:0;
  border:none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"],
select,
textarea {
  font-size: 100%;
}

input[type="text"]:focus,
textarea:focus {
  transition: 0.2s;
}

input[type="text"]:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

textarea {
  overflow: auto;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
  vertical-align: top;
}

ol {
  list-style-position: inside;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p,
table,
thead,
tbody,
tfoot,
address {
  margin: 0;
  padding: 0;
}
input,
textarea,
table,
thead,
tbody,
tfoot,
address {
  text-align: left;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
form,
p {
  text-align: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: normal;
}
