
@if $responsive {
  @media (max-width: $screen-tb) {
  .float > .left-box{float:none!important;width:100% !important;}
  .float > .right-box{float:none!important;width:100% !important;}
  .float > [class^="mr"],.float > [class*=" mr"]{margin-right:0!important;}
  .float > [class^="ml"],.float > [class*=" ml"]{margin-left:0!important;}
  .float-r > [class^="mb"],.float-r > [class*=" mb"]{margin-bottom:0!important;}
  }
  @media (min-width: $screen-pc-min) {
  .float-r > .left-box{float:none!important;width:100% !important;}
  .float-r > .right-box{float:none!important;width:100% !important;}
  .float-r > [class^="mr"],.float-r > [class*=" mr"]{margin-right:0!important;}
  .float-r > [class^="ml"],.float-r > [class*=" ml"]{margin-left:0!important;}
  .float > [class^="mb"],.float > [class*=" mb"]{margin-bottom:0!important;}
  }
}
.float {
  @include clearfix;
}
.float-r {
  @include clearfix;
}
