@charset "UTF-8";
//
// 変数設定
// --------------------------------------------------


// プレークポイント
$screen-tb: 480px;
$screen-pc: 768px;

$screen-sp-max: ($screen-tb - 1) !default;
$screen-tb-max: ($screen-pc - 1) !default;

// グリッドシステムカラムのそれぞれの間の余白
$grid-gutter-width: 20px !default;


// コンテナサイズ
$container-pc:            (740px + $grid-gutter-width) !default;
