@charset "UTF-8";

body {
  color: #333;
  font-size: 14px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
p {
  line-height: 1.5;
}
a {
  color: #0000ee;
  text-decoration: underline;
}
a:hover {
  color: #0000ee;
  text-decoration: none;
}

@if $responsive {
  @media (max-width: $screen-tb) {
    body {
      font-size: 12px;
    }
  }
}
