@charset "UTF-8";

body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font;
}
p {
  line-height: $base-line-height;
}
a {
  color: $base-link-color;
  text-decoration: underline;
}
a:hover {
  color: $base-link-color;
  text-decoration: none;
}

@if $responsive {
  @media (max-width: $screen-tb) {
    body {
      font-size: $base-font-size-sp;
    }
  }
}
