@charset "UTF-8";

// LightCMS用（管理画面の幅を設定。基本的には.l-pageと同じ幅を全て指定する。）
@if $light-cms {
  #centerColumn {
    width: $light-cms-column-width;
  }
  #leftColumn {
    width: $light-cms-column-width;
  }
  #rightColumn {
    width: $light-cms-column-width;
  }
  .error {
    color: $warn-color;
  }
}
