@charset "UTF-8";
// --------------------------------------------------
// 設定
// --------------------------------------------------

// レスポンシブサイトかどうかの設定 - true/false
$responsive: false;

// LightCMS導入サイトかどうかの設定 - true/false
$light-cms: true;

// LightCMS使用時に設定
$light-cms-column-width: 690px;

// プレークポイント
$screen-tb: 768px;
$screen-sp: 480px;

$screen-pc-min: ($screen-tb + 1) !default;
$screen-tb-min: ($screen-sp + 1) !default;

// 基本値の設定
$base-font-color: #333;
$base-font-size: 14px;
$base-font-size-tb: 12px;
$base-line-height: 1.5;
$base-link-color: #0000ee;

$base-font: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// --------------------------------------------------
// グリッドシステム設定
// --------------------------------------------------

// グリッドシステムカラムのそれぞれの間の余白
$grid-gutter-width: 20px !default;

// コンテナ(.container)サイズ
$container-pc: (960px + $grid-gutter-width) !default;
$container-tb: auto !default;
$container-sp: auto !default;

// 一列のカラム数
$grid-columns: 12 !default;

// --------------------------------------------------
// 色設定
// --------------------------------------------------

// エラー、警告色
$warn-color: #FF0000;
