@charset "UTF-8";
// CSS内でのグリッドシステム生成
//
// 以下のmixinを使って特定のクラスをグリッドシステムのカラムと同じ挙動をするように出来ます。

// 中央揃えのコンテナ
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left:  auto;
  padding-left:  floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));
  @include clearfix;
}

// Rowの生成
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ceil(($gutter / -2));
  margin-right: floor(($gutter / -2));
  @include clearfix;
}

// PCサイズのカラム生成
@mixin make-pc-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}
@mixin make-pc-column-offset($columns) {
  margin-left: percentage(($columns / $grid-columns));
}
@mixin make-pc-column-push($columns) {
  left: percentage(($columns / $grid-columns));
}
@mixin make-pc-column-pull($columns) {
  right: percentage(($columns / $grid-columns));
}

// タブレットサイズのカラム生成
@mixin make-tb-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (max-width: $screen-tb) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-tb-column-re ($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (max-width: $screen-tb) {
    float: none;
    width: auto;
  }
}
@mixin make-tb-column-offset($columns) {
  @media (max-width: $screen-tb) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-tb-column-push($columns) {
  @media (max-width: $screen-tb) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-tb-column-pull($columns) {
  @media (max-width: $screen-tb) {
    right: percentage(($columns / $grid-columns));
  }
}

// スマートフォンサイズのカラム生成
@mixin make-sp-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (max-width: $screen-sp) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-offset($columns) {
  @media (max-width: $screen-sp) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-push($columns) {
  @media (max-width: $screen-sp) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-pull($columns) {
  @media (max-width: $screen-sp) {
    right: percentage(($columns / $grid-columns));
  }
}
