.pager ul {
  text-align: center;
}
.pager ul li {
  display: inline-block;
  margin: 0 5px;
  line-height: 28px;
}
.pager ul li a {
  background: #fff;
  border: 1px solid #333;
  color: #333;
  display: inline-block;
  font-weight: bold;
  height: 28px;
  text-decoration: none;
  width: 28px;
}
.pager a:hover {
  color: #fff;
  background: #333;
}
.pager .current {
  background: #333;
  border: 1px solid #333;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  width: 28px;
}
.pager ul li.prev {
  margin: 0 5px 0 0;
}
.pager ul li.prev a {
  padding: 0 7px;
  width: auto;
}
.pager ul li.next {
  margin: 0 0 0 5px;
}
.pager ul li.next a {
  padding: 0 7px;
  width: auto;
}
